
Architect/DDD.Net Core/视频讲解：httpsstudy.163.comcourseintroduction1005643030.htmshare=1&shareId=1142344671内容：一步一步搭建一个实用的基于领域驱动设计(DDD)开发模式的一个项目开发框架。通过结合实际的代码应用让大家对领域驱动开发有一个更好的理解。源码：httpsgithub.comlidingbinMicBeach.Framework                                            .md
